<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- DATA -->
    <preference for="Mirasvit\Brand\Api\Data\BrandPageInterface"
                type="Mirasvit\Brand\Model\BrandPage"/>
    <preference for="Mirasvit\Brand\Api\Data\BrandInterface"
                type="Mirasvit\Brand\Model\Brand"/>

    <!-- CONFIG -->
    <preference for="Mirasvit\Brand\Api\Config\ConfigInterface"
                type="Mirasvit\Brand\Config\Config" />
    <preference for="Mirasvit\Brand\Api\Config\GeneralConfigInterface"
                type="Mirasvit\Brand\Config\GeneralConfig" />
    <preference for="Mirasvit\Brand\Api\Config\BrandPageConfigInterface"
                type="Mirasvit\Brand\Config\BrandPageConfig" />
    <preference for="Mirasvit\Brand\Api\Config\AllBrandPageConfigInterface"
                type="Mirasvit\Brand\Config\AllBrandPageConfig" />
    <preference for="Mirasvit\Brand\Api\Config\BrandSliderConfigInterface"
                type="Mirasvit\Brand\Config\BrandSliderConfig" />
    <preference for="Mirasvit\Brand\Api\Config\MoreFromBrandConfigInterface"
                type="Mirasvit\Brand\Config\MoreFromBrandConfig" />
    <preference for="Mirasvit\Brand\Api\Config\BrandLogoConfigInterface"
                type="Mirasvit\Brand\Config\BrandLogoConfig" />

    <!-- SERVICE -->
    <preference for="Mirasvit\Brand\Api\Service\BrandAttributeServiceInterface"
                type="Mirasvit\Brand\Service\BrandAttributeService" />
    <preference for="Mirasvit\Brand\Api\Service\BrandActionServiceInterface"
                type="Mirasvit\Brand\Service\BrandActionService" />
    <preference for="Mirasvit\Brand\Api\Service\BrandUrlServiceInterface"
                type="Mirasvit\Brand\Service\BrandUrlService" />
    <preference for="Mirasvit\Brand\Api\Service\BrandPageMetaServiceInterface"
                type="Mirasvit\Brand\Service\BrandPageMetaService" />
    <preference for="Mirasvit\Brand\Api\Service\ImageUrlServiceInterface"
                type="Mirasvit\Brand\Service\ImageUrlService" />
    <preference for="Mirasvit\Brand\Api\Service\BrandPageServiceInterface"
                type="Mirasvit\Brand\Service\BrandPageService" />
    <preference for="Mirasvit\Brand\Api\Service\BrandLogoServiceInterface"
                type="Mirasvit\Brand\Service\BrandLogoService" />


    <!-- REPOSITORY -->
    <preference for="Mirasvit\Brand\Api\Repository\BrandPageRepositoryInterface"
                type="Mirasvit\Brand\Repository\BrandPageRepository"/>
    <preference for="Mirasvit\Brand\Api\Repository\BrandRepositoryInterface"
                type="Mirasvit\Brand\Repository\BrandRepository"/>

    <virtualType name="brandFilterList" type="Mirasvit\LayeredNavigation\Model\Layer\FilterList">
        <arguments>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Category\FilterableAttributeList</argument>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Mirasvit\LayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="category" xsi:type="string">Mirasvit\LayeredNavigation\Model\Layer\Filter\Category</item>
                <item name="price" xsi:type="string">Mirasvit\LayeredNavigation\Model\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">Mirasvit\LayeredNavigation\Model\Layer\Filter\Decimal</item>
            </argument>
            <argument name="isHorizontal" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>

    <!--Entity Manager-->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\Brand\Api\Data\BrandPageInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mirasvit\Brand\Api\Data\BrandPageInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mirasvit\Brand\Api\Data\BrandPageInterface::ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mirasvit\Brand\Api\Data\BrandPageInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <!--UI-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brand_brand_listing_data_source" xsi:type="string">Mirasvit\Brand\Model\ResourceModel\BrandPage\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BrandBrandGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BrandBrandGridDataProvider" type="Mirasvit\Brand\Ui\BrandPage\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Brand\Model\ResourceModel\BrandPage\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BrandBrandGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <!-- admin logo uploader -->
    <virtualType name="Mirasvit\Brand\ImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">brand/tmp/brand</argument>
            <argument name="basePath" xsi:type="string">brand/brand</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mirasvit\Brand\Model\Image\ImageFile">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mirasvit\Brand\ImageUploader</argument>
        </arguments>
    </type>
    <type name="Mirasvit\Brand\Model\BrandPage">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mirasvit\Brand\ImageUploader</argument>
        </arguments>
    </type>
    <type name="Mirasvit\Brand\Model\Image\ThumbnailFile">
        <arguments>
            <argument name="imageTypes" xsi:type="array">
                <item name="thumbnail" xsi:type="array">
                    <item name="path" xsi:type="string">brand/thumbnail/brand</item>
                    <item name="placeholderPath" xsi:type="string">Magento_Catalog::images/product/placeholder/thumbnail.jpg</item>
                    <item name="imageSize" xsi:type="number">75</item>
                </item>
                <item name="small_image" xsi:type="array">
                    <item name="path" xsi:type="string">brand/small_image/brand</item>
                    <item name="placeholderPath" xsi:type="string">Magento_Catalog::images/product/placeholder/small_image.jpg</item>
                    <item name="imageSize" xsi:type="number">95</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- get attribute code by id -->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\Brand\Api\Data\BrandPageInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">mst_brand_page</item>
                    <item name="identifierField" xsi:type="string">brand_page_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Mirasvit\Brand\Api\Data\BrandPageInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="attributeCodeReader" xsi:type="string">Mirasvit\Brand\Model\Brand\AttributeCode\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>