"Your search '<strong>%1</strong>' did not match any products.","Vaše pretraživanje &#39; <strong>%1</strong> &#39; nije se podudarao s nekim proizvodima."
"Did you mean:","Jesi li mislio:"
"Showing results using some of your search terms","Prikaz rezultata pomoću nekih vaših pojmova za pretraživanje"
"Search Spell-Correction","Pretraži pravopisne ispravke"
"Rebuild search spell-correction words index","Obnovite indeks riječi za korekciju pravopisa pretraživanja"
